.header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: 92px 24px 96px 24px;
  padding: 0px 26px;
}

/* контейнер навигации */
.header__menu {
  
}

/* список ссылок */
.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

/* пункт списка ссылок */
.header__links-list-item {
  
}

/* сделать ссылку без кружочка перед ней */
.header__links-list-item_no-bullit {
  list-style: none;
}

/* ссылка */
.header__link {
  color: #000;
  font-size: 18px;
  line-height: normal;
}

/* активная ссылка */
.header__link_active .header__link {
  text-decoration: none;
}

/* контейнер логотипа */
.header__logo {
  position: absolute;
  left: calc(50% - 148px/2);
  display: block;
  width: 148px;
  margin: auto;
}

/* картинка с логотипом */
.header__logo-image {
  width: 100%;
}

/*контейнер с адресом*/
.address {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 18px;
  line-height: 1.35;
}

/* потребуется, чтобы выравнивать блок с адресом. В футере используется другое выравнивание */
.header__address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: -125px;
  background-size: cover;
}

/* полупрозрачный блок поверх секции */
.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: rgba(0,0,0, 0.6);
  background-size: auto 95%;
}

/* заголовок */
.cover__title {
  position: relative;
  z-index: 2;
  width: 100%;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 1.15; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
}

/* выравнивания строк текста и превращения их в блочный элемент */
.aligned-text {
  display: block;
  margin-top: 20px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

/* класс для управления межбуквенным расстоянием в местах, где есть эти акценты */
.letter-spacing-extended {
  letter-spacing: 60px;
}

/* класс для обнуления общего межбуквенного расстояния для последней буквы */
.no-letter-spacing {
  letter-spacing: initial;
}

/* контейнер для подзаголовка и кнопки */
.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

/* текст подзаголовка */
.cover__description-text {
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  word-spacing: 18px;
}

/* кнопка «Сделать ставку» */
.bet-button {
  width: 257px;
  height: 52px;
  border: 1px;
  border-style: solid;
  border-color: #FFF;
  padding: 12px 32px 12px 32px;
  color: #FFF;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.lots {

}

/*lots__heading — заголовок секции;
lots__card-list — список карточек;
lots__card-list-item — пункт списка карточки;
card-link — ссылка, обрамляющая карточку;
card — карточка;
card_type_film, card_type_book и card_type_picture — классы, чтобы задать определённый фон каждой из карточек;
overlay — он уже есть у вас в коде;
card__title — заголовок карточки;
card__text — текст карточки;
lots__look-more-link — ссылка «Посмотреть больше».*/

.about {

}

/*about__column — класс для колонок;
about__logo — контейнер с логотипом;
about__logo-image — изображение логотипа;
about__title — заголовок секции;
about__text — блок для текстов секции.*/

.footer {

}

/*address — такой класс уже есть в вашей вёрстке, все вложенные элементы аналогичны;
footer__menu — блок навигации по списку ссылок. Мы рекомендуем окружать список тегом <nav> с этим классом;
footer__menu-list — список пунктов меню;
footer__menu-list-item — пункт списка меню;
footer__menu-link — ссылка меню;
footer__menu-link_active — активная ссылка меню (без подчёркивания);
footer__social-list — список ссылок на социальные сети. Можно не добавлять тег <nav>, потому что это ссылки на внешние ресурсы;
footer__social-list-item — пункт списка ссылок на социальные сети;
footer__social-link — ссылка на социальные сети;
footer__social-icon — иконка социальной сети.*/